@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 688.98px) {
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .gallery .container {
        padding-bottom: 6px;
    }
    .gallery__main-img {
        padding-left: 15px;
        padding-top: 10px;
        height: 33vw;
        width: auto;
    }
    .gallery__logo {
        width: 98px;
        height: 18px;
    }
    .gallery__logo img {
        width: 100%;
    }
    .gallery__img-row {
        margin-right: -6px;
        margin-top: 7px;
    }
    .gallery__sm-img {
        height: 32.5vw;
        margin-right: 6px;
    }
    .about .container {
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .about__text {
        margin-top: 10px;
        padding-right: 12px;
    }
    .info__list {
        padding-right: 0;
    }
    .info .title {
        line-height: 110%;
    }
    .title span {
        display: none;
    }
    .info__list-item {
        padding-left: 16px;
        font-size: 14px;
        line-height: 140%;
    }
    .info__list-item::before {
        width: 6px;
        height: 6px;
    }
    .pluses__item-text {
        font-family: 'Tahoma', Arial, Helvetica, sans-serif
    }
    .fort .container {
        padding-top: 15px;
        padding-bottom: 35px;
        padding-right: 15px;
        padding-left: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .fort__item-wrapper {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .fort__item {
        width: 100%;
        max-width: 152px;
        margin-top: 20px;
        margin-right: 20px;
    }
    .fort__item-name {
        line-height: 26px;
    }
}

@media (max-width: 575.98px) {
    .fort__item-wrapper {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
    .fort__item {
        margin-right: auto;
    }
}

@media (max-width: 419.98px) {
    .fort__item-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .fort__item {
        margin-right: 20px;
    }
    .pluses__items-wrapper {
        margin-right: 55px;
    }
}